# Goal: Extract MP state data from this table

In [1]:
""" 
Goal: Extract MP state data from this table
Author: Rudra Prasad Bhuyan
"""

' \nGoal: Extract MP state data from this table\nAuthor: Rudra Prasad Bhuyan\n'

In [2]:
import numpy as np
import pandas as pd
import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.offline as po

import warnings
warnings.filterwarnings('ignore')

In [3]:
path = r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\parquet-data\lev-13\data\lev-13_merged.parquet"

#df = pd.read_parquet(path)
pdf = pl.read_parquet(path)

In [4]:
pdf.collect_schema()

Schema([('Survey_Name', String),
        ('Year', String),
        ('FSU_Serial_No', String),
        ('Sector', String),
        ('State', String),
        ('NSS_Region', String),
        ('District', String),
        ('Stratum', String),
        ('Sub_stratum', String),
        ('Panel', String),
        ('Sub_sample', String),
        ('FOD_Sub_Region', String),
        ('Sample_SU_No', String),
        ('Sample_Sub_Division_No', String),
        ('Second_Stage_Stratum_No', String),
        ('Sample_Household_No', String),
        ('Questionnaire_No', String),
        ('Level', String),
        ('ITEM_CODE', String),
        ('FIRST_PURCHASE_NUMBER', Float64),
        ('PURCHASED_ON_HIRE', String),
        ('FIRST_PURCHASE_VALUE', Float64),
        ('REPAIR_COST', Float64),
        ('SECOND_HAND_NUMBER', Float64),
        ('SECOND_HAND_VALUE', Float64),
        ('TOTAL_EXPENDITURE', Int64),
        ('MULTIPLIER', Int64)])

# Where is MP

In [5]:
# Shape of the data
pdf.shape[0]

9903498

In [6]:
pdf['State']

shape: (9_903_498,)
Series: 'State' [str]
[
	"01"
	"01"
	"01"
	"01"
	"01"
	…
	"33"
	"33"
	"33"
	"33"
	"33"
]

In [7]:
# This are label data 
# For know mp we used the Metadata json file
# Line number 308

pdf['State'] == '23'

shape: (9_903_498,)
Series: 'State' [bool]
[
	false
	false
	false
	false
	false
	…
	false
	false
	false
	false
	false
]

In [8]:
mp_data = pdf.filter(
    pl.col('State') == '23'
)

In [9]:
mp_data

shape: (650_384, 27)
┌─────────────┬──────┬────────────┬────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ Survey_Name ┆ Year ┆ FSU_Serial ┆ Sector ┆ … ┆ SECOND_HAN ┆ SECOND_HAN ┆ TOTAL_EXPE ┆ MULTIPLIER │
│ ---         ┆ ---  ┆ _No        ┆ ---    ┆   ┆ D_NUMBER   ┆ D_VALUE    ┆ NDITURE    ┆ ---        │
│ str         ┆ str  ┆ ---        ┆ str    ┆   ┆ ---        ┆ ---        ┆ ---        ┆ i64        │
│             ┆      ┆ str        ┆        ┆   ┆ f64        ┆ f64        ┆ i64        ┆            │
╞═════════════╪══════╪════════════╪════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ HCES        ┆ 2024 ┆ 25276      ┆ 2      ┆ … ┆ null       ┆ null       ┆ 6000       ┆ 61763      │
│ HCES        ┆ 2024 ┆ 25276      ┆ 2      ┆ … ┆ null       ┆ null       ┆ 150        ┆ 61763      │
│ HCES        ┆ 2024 ┆ 25276      ┆ 2      ┆ … ┆ null       ┆ null       ┆ 1200       ┆ 61763      │
│ HCES        ┆ 2024 ┆ 25276      ┆ 2      ┆ … ┆ null       ┆ null       ┆ 100        ┆ 61763      │
│ HCES        ┆ 2024 ┆ 25276      ┆ 2      ┆ … ┆ null       ┆ null       ┆ 1500       ┆ 61763      │
│ …           ┆ …    ┆ …          ┆ …      ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ HCES        ┆ 2024 ┆ 42591      ┆ 1      ┆ … ┆ null       ┆ null       ┆ 140        ┆ 97270      │
│ HCES        ┆ 2024 ┆ 42591      ┆ 1      ┆ … ┆ null       ┆ null       ┆ 800        ┆ 97270      │
│ HCES        ┆ 2024 ┆ 42591      ┆ 1      ┆ … ┆ null       ┆ null       ┆ 1990       ┆ 97270      │
│ HCES        ┆ 2024 ┆ 42591      ┆ 1      ┆ … ┆ null       ┆ null       ┆ 2200       ┆ 97270      │
│ HCES        ┆ 2024 ┆ 42591      ┆ 1      ┆ … ┆ null       ┆ null       ┆ 1200       ┆ 97270      │
└─────────────┴──────┴────────────┴────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [10]:
mp_data['FSU_Serial_No'].n_unique()

791

# Save

In [11]:
print(f" {pdf.filter(pl.col('State') == '23').shape[0]} are the MP data points")

 650384 are the MP data points

In [12]:
# convert to both csv and parquet data format

In [13]:
mp_data.write_csv(r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\parquet-data\lev-13\data2\lev_13_mp.csv")

In [14]:
mp_data.write_parquet(r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\parquet-data\lev-13\data2\lev_13_mp.parquet", compression="zstd")