In [2]:
import pandas as pd
import pyreadstat

In [3]:
lev_05_path = r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\delete\raw-data\LEVEL - 05 ( Sec 5 & 6).dta"
df = pd. .read_dta(lev_05_path)
# df.to_csv(csv_file_path, index=False, encoding='utf-8')

SyntaxError: invalid syntax (2647153136.py, line 2)

In [4]:
lev_04_path = r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\delete\raw-data\LEVEL - 04 (Section 4.1).sav"
df, meta = pyreadstat.read_sav(lev_04_path)

In [14]:
df[df['State'] == '23']

,Survey_Name,Year,FSU_Serial_No,Sector,State,NSS_Region,District,Stratum,Sub_stratum,Panel,...,Online_Vegetables,Online_Fresh_Fruits,Online_Dry_Fruits,Online_Egg_Fish_Meat,Online_Served_Processed_Food,Online_Packed_Processed_Food,Online_Other_Food_Items,Ceremony_Performed_Last_30_Days,Meals_Served_to_Non_HH_Members,Multiplier
9820,HCES,2024,44085,1,23,232,26,21,01,1,...,,,,,,,,2,6,58558.0
9821,HCES,2024,44085,1,23,232,26,21,01,1,...,,,,,,,,2,5,58558.0
9822,HCES,2024,44085,1,23,232,26,21,01,1,...,,,,,,,,2,8,58558.0
9823,HCES,2024,44085,1,23,232,26,21,01,1,...,,,,,,,,2,0,58558.0
9824,HCES,2024,44085,1,23,232,26,21,01,1,...,,,,,,,,2,6,58558.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261752,HCES,2024,25137,2,23,232,10,12,05,10,...,,,,,,,,2,0,173023.0
261753,HCES,2024,25137,2,23,232,10,12,05,10,...,,,,,,,,2,8,173023.0
261754,HCES,2024,25137,2,23,232,10,12,05,10,...,,,,,,,,2,0,173023.0
261755,HCES,2024,25137,2,23,232,10,12,05,10,...,,,,,,,,2,0,173023.0
261756,HCES,2024,25137,2,23,232,10,12,05,10,...,,,,,,,,1,8,173023.0