# Goal: Level 04 EDA acc to the Household Characteristics  from questionnaire

In [1]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

In [2]:
colors = ['#cb17eb','#A4EB17', '#17EBC8', '#EB173A', '#ffde59']  
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=colors)

palette = ['#cb17eb','#A4EB17', '#17EBC8', '#EB173A', '#ffde59', '#ccff33', '#ff36ab', '#e0fbfc', '#3772ff', '#45062e']  
sns.set_palette(palette)

In [3]:
path = r"C:\Users\Rudra\Desktop\rural-financial-inclusion-govt-scheme-recommendation\parquet-data\lev-04\data2\lev_04_mp_clean.parquet"

pdf = pl.read_parquet(path)
pdf.collect_schema()

Schema([('Meals_Served_to_Non_HH_Members', Int32),
        ('Ceremony_Performed_Last_30_Days', Int32),
        ('Online_Groceries', Int32),
        ('Online_Milk', Int32),
        ('Online_Vegetables', Int32),
        ('Online_Fresh_Fruits', Int32),
        ('Online_Dry_Fruits', Int32),
        ('Online_Egg_Fish_Meat', Int32),
        ('Online_Served_Processed_Food', Int32),
        ('Online_Packed_Processed_Food', Int32),
        ('Online_Other_Food_Items', Int32),
        ('Ration_Any_Item_Last_30_Days', Int32),
        ('Ration_Rice', Int32),
        ('Ration_Wheat', Int32),
        ('Ration_Coarse_Grain', Int32),
        ('Ration_Sugar', Int32),
        ('Ration_Pulses', Int32),
        ('Ration_Edible_Oil', Int32),
        ('Ration_Other_Food_Items', Int32)])

In [4]:
col_list = pdf.columns

# Functions

In [5]:
def draw_pie(col: str) -> None:
    df = pdf[col].value_counts().to_pandas()
    display(df)

    plt.pie(
        df['count'],
        labels=df[col],
        autopct='%1.2f%%'
    )
    plt.title(f"{col} Percentage")
    plt.show()
    print({'=='*45})

# Meal served to  non HH Members

In [18]:
pdf['Meals_Served_to_Non_HH_Members'].value_counts().describe(percentiles=(0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.91, 0.92, 0.93, 0.94, 0.96, 0.97, 0.98, 0.99)).to_pandas()

     statistic  Meals_Served_to_Non_HH_Members         count
0        count                       44.000000     44.000000
1   null_count                        0.000000      0.000000
2         mean                       72.068182    961.704545
3          std                      145.802255   3827.938619
4          min                        0.000000      3.000000
5          30%                       13.000000      6.000000
6          40%                       17.000000      9.000000
7          50%                       23.000000      9.000000
8          60%                       27.000000     24.000000
9          70%                       38.000000     84.000000
10         80%                       53.000000    249.000000
11         90%                      220.000000   2010.000000
12         91%                      220.000000   2010.000000
13         92%                      250.000000   3354.000000
14         93%                      250.000000   3354.000000
15         94%                      250.000000   3354.000000
16         96%                      300.000000   3381.000000
17         97%                      550.000000   4110.000000
18         98%                      550.000000   4110.000000
19         99%                      750.000000  24969.000000
20         max                      750.000000  24969.000000

In [19]:
pdf.columns

['Meals_Served_to_Non_HH_Members',
 'Ceremony_Performed_Last_30_Days',
 'Online_Groceries',
 'Online_Milk',
 'Online_Vegetables',
 'Online_Fresh_Fruits',
 'Online_Dry_Fruits',
 'Online_Egg_Fish_Meat',
 'Online_Served_Processed_Food',
 'Online_Packed_Processed_Food',
 'Online_Other_Food_Items',
 'Ration_Any_Item_Last_30_Days',
 'Ration_Rice',
 'Ration_Wheat',
 'Ration_Coarse_Grain',
 'Ration_Sugar',
 'Ration_Pulses',
 'Ration_Edible_Oil',
 'Ration_Other_Food_Items']

In [8]:
for col in pdf.columns:
    display(pdf[col].value_counts())
    print(f'='*50)

shape: (44, 2)
┌────────────────────────────────┬───────┐
│ Meals_Served_to_Non_HH_Members ┆ count │
│ ---                            ┆ ---   │
│ i32                            ┆ u32   │
╞════════════════════════════════╪═══════╡
│ 30                             ┆ 24    │
│ 53                             ┆ 3     │
│ 20                             ┆ 84    │
│ 90                             ┆ 6     │
│ 26                             ┆ 9     │
│ …                              ┆ …     │
│ 10                             ┆ 543   │
│ 13                             ┆ 48    │
│ 18                             ┆ 18    │
│ 16                             ┆ 57    │
│ 25                             ┆ 9     │
└────────────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────────────────────────┬───────┐
│ Ceremony_Performed_Last_30_Day… ┆ count │
│ ---                             ┆ ---   │
│ i32                             ┆ u32   │
╞═════════════════════════════════╪═══════╡
│ 1                               ┆ 522   │
│ 2                               ┆ 41793 │
└─────────────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────────┬───────┐
│ Online_Groceries ┆ count │
│ ---              ┆ ---   │
│ i32              ┆ u32   │
╞══════════════════╪═══════╡
│ 1                ┆ 1299  │
│ 0                ┆ 41016 │
└──────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────┬───────┐
│ Online_Milk ┆ count │
│ ---         ┆ ---   │
│ i32         ┆ u32   │
╞═════════════╪═══════╡
│ 0           ┆ 42003 │
│ 1           ┆ 312   │
└─────────────┴───────┘

==================================================

shape: (2, 2)
┌───────────────────┬───────┐
│ Online_Vegetables ┆ count │
│ ---               ┆ ---   │
│ i32               ┆ u32   │
╞═══════════════════╪═══════╡
│ 1                 ┆ 441   │
│ 0                 ┆ 41874 │
└───────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────────────┬───────┐
│ Online_Fresh_Fruits ┆ count │
│ ---                 ┆ ---   │
│ i32                 ┆ u32   │
╞═════════════════════╪═══════╡
│ 0                   ┆ 41916 │
│ 1                   ┆ 399   │
└─────────────────────┴───────┘

==================================================

shape: (2, 2)
┌───────────────────┬───────┐
│ Online_Dry_Fruits ┆ count │
│ ---               ┆ ---   │
│ i32               ┆ u32   │
╞═══════════════════╪═══════╡
│ 1                 ┆ 306   │
│ 0                 ┆ 42009 │
└───────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────────────┬───────┐
│ Online_Egg_Fish_Meat ┆ count │
│ ---                  ┆ ---   │
│ i32                  ┆ u32   │
╞══════════════════════╪═══════╡
│ 1                    ┆ 57    │
│ 0                    ┆ 42258 │
└──────────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────────────────────┬───────┐
│ Online_Served_Processed_Food ┆ count │
│ ---                          ┆ ---   │
│ i32                          ┆ u32   │
╞══════════════════════════════╪═══════╡
│ 1                            ┆ 303   │
│ 0                            ┆ 42012 │
└──────────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────────────────────┬───────┐
│ Online_Packed_Processed_Food ┆ count │
│ ---                          ┆ ---   │
│ i32                          ┆ u32   │
╞══════════════════════════════╪═══════╡
│ 1                            ┆ 564   │
│ 0                            ┆ 41751 │
└──────────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────────────────┬───────┐
│ Online_Other_Food_Items ┆ count │
│ ---                     ┆ ---   │
│ i32                     ┆ u32   │
╞═════════════════════════╪═══════╡
│ 0                       ┆ 42126 │
│ 1                       ┆ 189   │
└─────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────────────────────┬───────┐
│ Ration_Any_Item_Last_30_Days ┆ count │
│ ---                          ┆ ---   │
│ i32                          ┆ u32   │
╞══════════════════════════════╪═══════╡
│ 2                            ┆ 15510 │
│ 1                            ┆ 26805 │
└──────────────────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────┬───────┐
│ Ration_Rice ┆ count │
│ ---         ┆ ---   │
│ i32         ┆ u32   │
╞═════════════╪═══════╡
│ 1           ┆ 26724 │
│ 0           ┆ 15591 │
└─────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────┬───────┐
│ Ration_Wheat ┆ count │
│ ---          ┆ ---   │
│ i32          ┆ u32   │
╞══════════════╪═══════╡
│ 1            ┆ 26529 │
│ 0            ┆ 15786 │
└──────────────┴───────┘

==================================================

shape: (1, 2)
┌─────────────────────┬───────┐
│ Ration_Coarse_Grain ┆ count │
│ ---                 ┆ ---   │
│ i32                 ┆ u32   │
╞═════════════════════╪═══════╡
│ 0                   ┆ 42315 │
└─────────────────────┴───────┘

==================================================

shape: (2, 2)
┌──────────────┬───────┐
│ Ration_Sugar ┆ count │
│ ---          ┆ ---   │
│ i32          ┆ u32   │
╞══════════════╪═══════╡
│ 0            ┆ 41577 │
│ 1            ┆ 738   │
└──────────────┴───────┘

==================================================

shape: (1, 2)
┌───────────────┬───────┐
│ Ration_Pulses ┆ count │
│ ---           ┆ ---   │
│ i32           ┆ u32   │
╞═══════════════╪═══════╡
│ 0             ┆ 42315 │
└───────────────┴───────┘

==================================================

shape: (1, 2)
┌───────────────────┬───────┐
│ Ration_Edible_Oil ┆ count │
│ ---               ┆ ---   │
│ i32               ┆ u32   │
╞═══════════════════╪═══════╡
│ 0                 ┆ 42315 │
└───────────────────┴───────┘

==================================================

shape: (2, 2)
┌─────────────────────────┬───────┐
│ Ration_Other_Food_Items ┆ count │
│ ---                     ┆ ---   │
│ i32                     ┆ u32   │
╞═════════════════════════╪═══════╡
│ 1                       ┆ 24543 │
│ 0                       ┆ 17772 │
└─────────────────────────┴───────┘

==================================================

In [6]:
pdf.columns

['Meals_Served_to_Non_HH_Members',
 'Ceremony_Performed_Last_30_Days',
 'Online_Groceries',
 'Online_Milk',
 'Online_Vegetables',
 'Online_Fresh_Fruits',
 'Online_Dry_Fruits',
 'Online_Egg_Fish_Meat',
 'Online_Served_Processed_Food',
 'Online_Packed_Processed_Food',
 'Online_Other_Food_Items',
 'Ration_Any_Item_Last_30_Days',
 'Ration_Rice',
 'Ration_Wheat',
 'Ration_Coarse_Grain',
 'Ration_Sugar',
 'Ration_Pulses',
 'Ration_Edible_Oil',
 'Ration_Other_Food_Items']